.input {
 font-weight: bold;
 color: var(--font-color);
 flex-grow: 1;
 width: 100%;

 & > div {
  display: flex;
 }
 label {
  font-size: 1rem;
  display: block;
 }
 input {
  background-color: transparent;

  &:focus {
   outline: 0px;
  }
 }
 /* TODO: remove */
 /* DEBUG */
 &:has(:is(input, select, textarea):valid) label {
  color: green;
 }
 &:has(:is(input, select, textarea):invalid) label {
  color: red;
 }
 /* END DEBUG */
 .message {
  transition: 0.1s linear;
  text-align: center;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  margin: auto;
  color: var(--color-failure);
 }
 &:has(input:invalid) .message {
  opacity: 1;
  max-height: 2rem;
 }
}
.input__text {
 input[type=text] {
  width: 100%;
  box-sizing: border-box;
  height: 3rem;
  display: block;
  border: 2px solid var(--font-color);
  border-radius: 1rem;
  text-align: center;
  font-size: 1.5rem;

  &:focus {
   border: 2px solid var(--color-active-text);
   outline: 1px solid var(--color-active-text);
  }
 }
}
.input__number {
 input[type=number] {
  appearance: textfield;
  flex-grow: 1;
  height: 100%;
  padding: 0px;
  border: 0px;
  text-align: center;
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-size: 2rem;
 }
 br {
  display: block;
  width: 100%;
 }
 & > div {
  height: 3rem;
  border: 2px solid var(--font-color);
  border-radius: 1rem;

  &:has(input:focus) {
   border: 2px solid var(--color-active-text);
   outline: 1px solid var(--color-active-text);
  }
 }
 .changeButton {
  width: max(5rem, 5%);
  height: 100%;
  font-size: 2rem;
  padding: 0px;
  display: block;
  border: 0px;
  background-color: transparent;
  color: var(--font-color);
 }
 .changeButton__increment {
  border-left: 2px solid var(--font-color);
 }
 .changeButton__decrement {
  border-right: 2px solid var(--font-color);
 }
}
.input__select {
 select {
  display: block;
  width: 100%;
  background-color: var(--background-color);
  border: 2px solid var(--font-color);
  appearance: none;
  border-radius: 1rem;
  height: 3rem;
  text-align: center;
  font-size: 1.5rem;
 }
}
.input__checkbox {
 input[type=checkbox] {
  appearance: none;
  height: 3rem;
  padding: 0px;
  border: 2px solid var(--font-color);
  text-align: center;
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 0px;
  border-radius: 1rem;

  &:checked {
   background-color: var(--color-success);
   &::after {
    content: 'Yes';
   }
  }
  &:not(:checked) {
   background-color: var(--color-failure);
   &::after {
    content: 'No';
   }
  }
  &::after {
   text-align: center;
   vertical-align: bottom;
   display: inline;
   font-size: 2.5rem;
  }
 }
}
.input__textarea {
 textarea {
  resize: vertical;
  width: 100%;
  border: 2px solid var(--font-color);
  box-sizing: border-box;
  border-radius: 1rem;
  padding: 0.5rem;
  text-align: center;
  font-weight: bold;
  min-height: 4rem;
  height: 15rem;

  &:focus-visible {
   outline: none;
  }
 }
}
 